/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIM - reset */
/* definição de variáveis */
:root {
    font-size: 62.5%;
    --bg-color-topo: #F99200;
    --bg-color-body: white;
    --text-color: black;
}
/* FIM - definição de variáveis */
/* Faixa superior do topo */
body:before {
    content: '';
    background: var(--bg-color-topo);
    position: absolute;
    width: 100vw;
    height: 10rem;
    z-index: -1;
}
/* FIM - faixa superior do topo*/
/* Definições gerais */
body {
    background: var(--bg-color-body);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

#page {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:hover {
    color: var(--text-color);
    background: var(--bg-color-topo);
    border-radius: .7rem;
    padding: .25rem .5rem;
}

h1, h2 {
    color: var(--bg-color-topo);
    margin-bottom: .5rem;
}

span {
    font-weight: bold;
}
/* FIM - definições gerais */
/* Cabeçalho */
#topo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topo img {
    width: 9rem;
    border-radius: 50%;
}
#topo nav ul{
    margin-top: -1rem;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
#topo ul a {
    font-size: 2.5rem;
}
#topo a:hover {
    background: var(--text-color);
    color: var(--bg-color-topo);
}
/* FIM - Cabeçalho */
/* Conteúdo principal */
#content {
    width: 90vw;
    margin: 2rem auto;
    padding: .5rem;
}
#separador {
    margin: 1rem auto;
}

section {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .7rem;
    box-shadow: var(--text-color) .05rem .15rem .125rem .05rem; 
}
/* FIM - conteúdo principal */