* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Definições gerais */
:root {
    --base-color: #383f5d;
    --base-color-light: #6d78a8;
    --text-color: black;
    --bg-color: white;
    font-size: 62.5%;
}

body {
    background: var(--bg-color) url(../img/fundo.png);
    font-size: 1.6rem;
}

#page {
    max-width: 900px;
    margin: 0 auto;
}

#topo, 
#menu-topo ul {
    display: flex;
}
/* FIM - Definições gerais */
/* Topo */
#topo {
    justify-content: space-between;
    padding: 2.35rem;
    align-items: center;
    color: var(--base-color);
}

#menu-topo ul {
    gap: .5rem;
    list-style: none;
}
#menu-topo ul li {
    padding: .3rem;
    border-radius: 3px;
    border-left: 1px solid var(--base-color);
    border-right: 1px solid var(--base-color);
}
/* FIM - Topo */
/* Conteúdo */
#content, #content p {
    margin: 1.5rem 0;
    text-align: justify;
}
#content h1{
    color: var(--base-color);
}
/* FIM - Conteúdo */
