* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Definições gerais */
:root {
    --nav-text-color: #383f5d;
    --text-color: black;
    --bg-color: white;
}

body {
    background: var(--bg-color) url(../img/fundo.png);
}

#page {
    max-width: 900px;
    margin: 0 auto;
}

/* FIM - Definições gerais */
