* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Definições gerais */
:root {
    --base-color: #383f5d;
    --base-color-light: #6d78a8;
    --text-color: black;
    --bg-color: white;
    font-size: 62.5%;
}

body {
    background: var(--bg-color) url(../img/fundo.png);
    font-size: 1.6rem;
}

#page {
    max-width: 900px;
    margin: 0 auto;
    padding: 0  2rem;
}

#topo, 
#menu-topo ul {
    display: flex;
}

img {
    max-width: 100%;
    display: flex;
    margin: 0 right;
}

a {
    text-decoration: none;
    padding: .3rem;
    border-radius: 3px;
}

#menu-topo ul li a:hover, 
footer a:hover {
    background: var(--base-color-light);
    color: var(--bg-color);
}
/* FIM - Definições gerais */
/* Topo */
#topo {
    justify-content: space-between;
    padding: 2.35rem;
    align-items: center;
    color: var(--base-color);
}

#menu-topo ul {
    gap: .5rem;
    list-style: none;
}
#menu-topo ul li a {
    border-left: 1px solid var(--base-color);
    border-right: 1px solid var(--base-color);
}
/* FIM - Topo */
/* Conteúdo */
#content, 
#content p {
    margin: 1.5rem 0;
    text-align: justify;
    padding: .5rem .2rem;
}
#content ol {
    margin-left: 3rem;
    padding: 1rem .5rem;
}
#content h1, 
#content h2, 
#content hr {
    color: var(--base-color);
}
#content hr {
    margin: 2rem 0;
    border: 1px solid var(--base-color-light);
}
/* FIM - Conteúdo */
/* Rodapé */
footer {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    color: var(--base-color-light);
}
/* FIM - Rodapé */
/* Media query */
@media (max-width: 600px) {
   #topo {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
   }
   #topo img {
        max-width: 12rem;
   }
}
/* FIM - Media query */